$font-family-sans-serif: 'Lato', 'Helvetica', 'Arial', sans-serif !default;
$font-family-serif: 'Bitter', 'Georgia', 'Times', serif !default;
$font-family-monospace: 'PT Mono', 'Menlo', 'Consolas', 'Courier', monospace !default;
$font-family-display: 'Lato', 'Helvetica', 'Arial', sans-serif !default;
