.hero {
	overflow: hidden;
	padding-top: 56px;
	padding-bottom: 64px;
	// background-color: $color-ui-100;
	border-bottom: 1px solid $color-ui-100;
}

.hero__title {
	position: relative;
	z-index: 1;
	margin-bottom: 48px;
	text-align: center;
	text-shadow: 1px 1px 1px $color-text-diap, 4px 4px tint($color-ui-100, 30%);
	font-size: $font-size-700;
	line-height: $line-height-60;
}

.hero__title span {
	display: inline-block;
	margin-left: 6px;
	text-decoration: line-through;
	opacity: 0.5;
}

.hero__subtitle {
	font-family: $font-family-sans-serif;
	font-size: $font-size-200;
	font-weight: normal;

	a {
		border-bottom: 1px solid $color-grey;
		color: $color-green;
		font-weight: 700;
	}
}

.hero__inner {
	margin: 0 auto;
	max-width: 920px;
}

.hero__content {
	@include box-sizing(border-box);
	position: relative;
	float: right;
	padding-right: 32px;
	padding-left: 52px;
	width: 62%;
}

.hero__image {
	@include transform(rotate(-4deg));
	display: block;
	float: left;
	width: 38%;
	border: 1px solid $color-white;
	box-shadow: 300px 100px 0 tint($color-ui-100, 50%), 200px -450px 0 tint($color-ui-100, 70%);
}
