.navigation {
	display: block;
	padding: 18px 0 0;
	border-bottom: 1px solid $color-ui-100;
	text-align: center;
}

.navigation__item {
	display: inline-block;
	margin: 0 8px -1px 8px;
	padding-bottom: 16px;
	border-bottom-width: 3px;
	text-transform: uppercase;
	font-size: $font-size-90;
}
