.overview {
	background-color: $color-white;
}

.overview__header {
	//
}

.overview__title {
	//
}

.overview__inner {
	@include box-sizing(border-box);
	overflow: hidden;
	margin: 0 auto;
	padding: 24px 0;
	max-width: 1040px;
}

.overview__column {
	@include box-sizing(border-box);
	float: left;
	padding: 32px;
	width: 33.333%;
}

.overview__column-title {
	margin-bottom: 24px;
	padding-bottom: 12px;
	border-bottom: 1px solid $color-ui-100;
	text-shadow: 2px 2px 0 $color-ui-70;
	font-size: $font-size-300;
}

.overview__column-items {
	//
}

.overview__column-item {
	margin-bottom: 24px;
}

.overview__column-item-title {
	margin-bottom: 8px;
	font-family: $font-family-sans-serif;
	font-size: $font-size-200;
	font-weight: 700;
	line-height: $line-height-80;
}

.overview__column-item-subtitle {
	font-family: $font-family-sans-serif;

	strong {
		margin-left: 6px;
		padding-left: 9px;
		border-left: 1px solid $color-ui-400;
		color: $color-ui-300;
	}
}
