.page-sections {
	@include box-sizing(border-box);
	background: $color-white;

	@include media(0, $range-lap-s) {
		width: 100%;
	}
	@include media($range-lap-m, false) {
		position: absolute;
		right: 0;
		width: 50%;
		height: 100vh;
	}
}
