.page-section {
	@include box-sizing(border-box);
	overflow: hidden;
	padding: 48px 86px;
	max-width: 768px;
	border-top: 1px solid $color-ui-100;

	&::first-child {
		border-top: none;
	}
}

.page-section__header {
	float: left;
	width: 25%;
}

.page-section__title {
	margin-bottom: 0;
	color: shade(rebeccapurple, 40%);
	text-shadow: 1px 1px 1px $color-text-diap, 4px 4px tint($color-ui-100, 30%);
	font-size: $font-size-200;
	font-weight: normal;
}

.page-section__content {
	@include box-sizing(border-box);
	margin-left: 25%;

	h2 {
		font-size: $font-size-100;

		span {
			display: inline-block;
			margin-left: 6px;
			color: tint($color-text, 50%);
			font-weight: 200;
		}
	}

	h3 {
		margin-top: -12px;
		font-weight: 200;

		span {
			display: inline-block;
			margin-left: 6px;
			color: tint($color-text, 50%);
			font-weight: 200;
		}

		&::before {
			margin-left: -17px;
			content: '— ';
		}
	}
}
